<div class="piwik-donate-call">
    <div class="piwik-donate-message">
        {% if msg is defined %}
            {{ msg }}
        {% else %}
            <p>{{ 'CoreHome_DonateCall1'|translate }}</p>
            <p><strong>{{ 'CoreHome_DonateCall2'|translate }}</strong></p>
            <p>{{ 'CoreHome_DonateCall3'|translate('<strong>','</strong>', '<a target="_blank" rel="nofollow" href="https://n3rds.work/recommends/premium-plugins/"><strong>', '</strong></a>')|raw }}</p>
        {% endif %}
    </div>

    <span id="piwik-worth">{{ 'CoreHome_SupportUsOn'|translate }}</span>

    <ul class="browser-default">
        <li><a href="https://n3rds.work/spendenaktionen/unterstuetze-unsere-psource-free-werke/" target="_blank" rel="noreferrer noopener">N3rds@Work</a></li>
    </ul>

    <p style="margin-top: 1em;">
        {{ 'CoreHome_YourDonationWillHelp'|translate }}
        <br><br>
        <strong>{{ 'CoreHome_ThanksFromAllOfUs'|translate }}</strong>
    </p>

    {% if footerMessage is defined %}
        <div class="form-description">
            {{ footerMessage }}
        </div>
    {% endif %}
</div>
<script type="text/javascript">
$(document).ready(function () {
    // Note: this will cause problems if more than one donate form is on the page
    $('.piwik-donate-slider').each(function () {
        $(this).trigger('piwik:changePosition', {position: 1});
    });
});
</script>
